@{
  Layout = "_Layout";
}
<div class="container">
  <h3>Hello, Pierre!</h3>
  <h3>Welcome to your vendor + order management system.</h3>
  <a href="/vendors/"><h3>Click here to view your Vendors hub.</h3></a>
</div>
