@{
  Layout = "_Layout";
}
<h1>This is the view of the Index found within Home</h1>

<h1>Hello, Pierre!</h1>
<h1>Welcome to your vendor + order management system.</h1>
<a href="/vendors/"><h1>Click here to view your Vendors hub.</h1></a>