@{
  Layout = "_Layout";
}
<h1>Welcome to Rise OMS.</h1>
<h3>Rise helps make order management easy. Keep track of your vendors and their orders in one easy-to-use interface. </h3>
<a href="/vendors/"><h3>Click here to view your Vendors hub.</h3></a>
