@{
  Layout = "_Layout";
}

<h1>Order Summary: </h1>
<div class="vendorHub">
  <h3>Name: @Model["order"].OrderName</h2>
  <h3>Description: @Model["order"].OrderDescription</h2>
  <h3>Price: $@Model["order"].OrderPrice.00</h2>
  <h3>Vendor: @Model["vendor"].VendorName</h2>
</div>
