@{
  Layout = "_Layout";
}
<div class="container">
  <h1>This is your order SHOW view</h1>
  <h1>Order Details: </h1>

  <h2>@Model["order"].OrderName</h2>
  <h2>@Model["order"].OrderDescription</h2>
  <h2>@Model["order"].OrderPrice</h2>
  <h3>Category: @Model["vendor"].VendorName</h3>
</div>